<!DOCTYPE html>
<html class="full" lang="en" xmlns:th="http://www.thymeleaf.org">


    <div th:fragment="sidebar" class="list-group">
        <ul class="nav">
            <li>
                <a href="/allModules" class="list-group-item">Kurs</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo" class="list-group-item">Modul nr1  <span class="caret"></span></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="/description/1" class="list-group-item">Opis</a>
                    </li>
                    <li>
                        <a href="/lesson/1/1" class="list-group-item">Lekcja nr1</a>
                    </li>
                    <li>
                        <a href="/lesson/1/2" class="list-group-item">Lekcja nr2</a>
                    </li>
                    <li>
                        <a href="/lesson/1/3" class="list-group-item">Lekcja nr3</a>
                    </li>
                    <li>
                        <a href="/lesson/1/4" class="list-group-item">Lekcja nr4</a>
                    </li>
                    <li>
                        <a href="/lesson/1/5" class="list-group-item">Lekcja nr5</a>
                    </li>
                    <li>
                        <a href="/lesson/1/6" class="list-group-item">Lekcja nr6</a>
                    </li>
                    <li>
                        <a href="/test/1" class="list-group-item">Test</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo1" class="list-group-item">Modul nr2  <span class="caret"></span></a>
                <ul id="demo1" class="collapse">
                    <li>
                        <a href="/description/2" class="list-group-item">Opis</a>
                    </li>
                    <li>
                        <a href="/lesson/2/1" class="list-group-item">Lekcja nr1</a>
                    </li>
                    <li>
                        <a href="/lesson/2/2" class="list-group-item">Lekcja nr2</a>
                    </li>
                    <li>
                        <a href="/lesson/2/3" class="list-group-item">Lekcja nr3</a>
                    </li>
                    <li>
                        <a href="/lesson/2/4" class="list-group-item">Lekcja nr4</a>
                    </li>
                    <li>
                        <a href="/test/2" class="list-group-item">Test</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo2" class="list-group-item">Modul nr3  <span class="caret"></span></a>
                <ul id="demo2" class="collapse">
                    <li>
                        <a href="/description/3" class="list-group-item">Opis</a>
                    </li>
                    <li>
                        <a href="/lesson/3/1" class="list-group-item">Lekcja nr1</a>
                    </li>
                    <li>
                        <a href="/lesson/3/2" class="list-group-item">Lekcja nr2</a>
                    </li>
                    <li>
                        <a href="/lesson/3/3" class="list-group-item">Lekcja nr3</a>
                    </li>
                    <li>
                        <a href="/lesson/3/4" class="list-group-item">Lekcja nr4</a>
                    </li>
                    <li>
                        <a href="/lesson/3/5" class="list-group-item">Lekcja nr5</a>
                    </li>
                    <li>
                        <a href="/test/3" class="list-group-item">Test</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</html>