<!DOCTYPE html>
<html class="full" lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head th:fragment="head (pageTitle)">
    <title th:text="${pageTitle}">Template title</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--<link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css"  />-->
    <!-- Custom CSS -->
    <link href="/css/full.css" rel="stylesheet">

    <script type="text/javascript" src="js/counter.js"></script>
    <!--<link th:href="@{/css/full.css}" href="../../css/full.css"  rel="stylesheet" type="text/css"  />-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link data-require="bootstrap@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="jquery@*" data-semver="2.1.3" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


</head>

<body>
    <div th:fragment="scripts">
        <!-- jQuery-->
        <script src="/js/jquery.js"></script>

        <script src="/js/bootstrap.min.js"></script>
    </div>
</body>

</html>