<!DOCTYPE html>
<html class="full" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="toolbar">
    <style>
        .btn-logout {
            width: 100%;
            padding: 15px 20px !important;
            text-align: left !important;
        }
    </style>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-inverse" style="background-color: #1F1F1F;" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">CodeGreat</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/offer">Oferta</a>
                    </li>
                    <li>
                        <a href="/about">O nas</a>
                    </li>
                    <li>
                        <a href="/contact">Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/questions/newest/1">Forum</a>
                    </li>
                    <li>
                        <a href="/allModules">Kurs</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-link btn-logout dropdown-toggle" type="button" data-toggle="dropdown"><span th:text="${currentUser.getUser().getLogin()}" ></span>
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/accountEdition">Edycja konta</a></li>
                                <li><a href="#">Statystyki</a></li>
                                <li>
                                    <form action="/logout" method="post">
                                        <input type="hidden"
                                               th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}" />
                                        <button class="btn  btn-logout" type="submit">Wyloguj się &nbsp; <span class="glyphicon glyphicon-log-out"></span></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->

    </nav>

</div>

</body>

</html>