<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/generalLayout :: head(pageTitle='codegreat')">
</head>
<body>

    <div th:switch="${currentUser!=null}">
        <div th:case="false" th:include="layout/unloggedLayout :: toolbar"></div>
        <div th:case="true" th:include="layout/loggedLayout :: toolbar"></div>
    </div>
    <div th:include="layout/generalLayout :: scripts"></div>
    <div id="fullscreen_bg" class="fullscreen_bg"/>

    <header>
        <div class="container">
            <form action="/logout" name="myForm" id="myForm" method="post">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />
            </form>
        </div>
    </header>
    <script type="text/javascript" src="/js/deleteAccount.js"></script>
</body>
</html>