<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/generalLayout :: head(pageTitle='Forum')">
</head>

<body>
<div th:switch="${currentUser!=null}">
    <div th:case="false" th:include="layout/unloggedLayout :: toolbar"></div>
    <div th:case="true" th:include="layout/loggedLayout :: toolbar"></div>
</div>
<div th:include="layout/generalLayout :: scripts"></div>
<div id="fullscreen_bg" class="fullscreen_bg"/>
<header>

    <link href="/css/boxstyle.css" rel="stylesheet">

    <div class="container">
        <div th:if="${currentUser==null}" >
            <hr/>
            <hr/>
        </div>
        <div th:if="${currentUser!=null}" class="row margintop">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn-lg btn-warning" onclick="window.location.href='/addQuestion'">Dodaj nowe pytanie</button>
            </div>

        </div>
        <div class="row centered-form">
            <div class="box">
                <div class ="box-content">

                    <div class = "row">
                        <ul th:each="question:${newestQuestions.getContent()}">
                        <div class="col-sm-1">
                            <div class="thumbnail">
                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                        </div><!-- /col-sm-1 -->
                        <div class="col-sm-11">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <strong><p th:text="${question.getUsername()}"/></strong> <span class="text-muted">Dodano 5 dni temu</span>
                                    <div class = "row">
                                        <strong><span class="text-muted" th:text="${question.getTopic()}"></span></strong>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p th:text="${question.getContents()}"/>
                                    <a th:href =  "@{'/question/' + ${question.getId()}}">Zobacz więcej...</a>
                                </div>
                            </div>
                        </div>
                        </ul>
                    </div>
                </div>


                </div>
            </div>

        </div>
</header>
<script type="text/javascript" src="js/likeButton.js"></script>
</body>